.padding-top-10 {
    padding-top: 10px;
}

.padding-top-75 {
    margin-top: 75px;
}

.userpic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top:  -85px;
    margin-bottom: 10px;
}